/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* could add some font here */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #222;
}


/* MAIN PAGE WRAPPER */
.main-page {
    display: flex;
    /*  make it all vertical*/
    flex-direction: column;
    /* honestly, I wanted to experiment with this */
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #000;
    color: #fff;
    padding: 20px;
}

.nav {
    /* make it a flex box */
    display: flex;
    justify-content: center;
}

.nav-list {
    /* take off thoase tacky bulletins */
    list-style: none;
    /* get them all in a line */
    display: flex;
    /* nice clean spacing but i should be careful, not ever browser uses gap yet */
    gap: 2rem;
}

.nav-item {
    /* found out about this cute property that changes the cursor, wanted to add that in there for user experience? same with font-bold, playing around with stylign that I see on other websites along with the text transform (experimentation with that) */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

/* CONTENT AREA */
.content-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

/* INTRO SECTION */
.intro-section {
    text-align: center;
}

/* next we gotta do the about me section */

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
    text-align: center;
}

