/* GLOBAL RESET */
:root {
    --color-bg: #fafafa;
    --color-text: #222;
    --color-border: #ddd;
    --color-black: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* could add some font here */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}


/* MAIN PAGE WRAPPER */
.main-page {
    display: flex;
    /*  make it all vertical*/
    flex-direction: column;
    /* honestly, I wanted to experiment with this */
    min-height: 100vh;
}

/* HEADER */
.header {
    background: var(--color-black);
    color: var(--color-white);
    padding: 20px;
}

.nav {
    /* make it a flex box */
    display: flex;
    justify-content: center;
}

.nav-list {
    /* take off thoase tacky bulletins */
    list-style: none;
    /* get them all in a line */
    display: flex;
    /* nice clean spacing but i should be careful, not ever browser uses gap yet */
    gap: 2rem;
}

.nav-item {
    /* found out about this cute property that changes the cursor, wanted to add that in there for user experience? same with font-bold, playing around with stylign that I see on other websites along with the text transform (experimentation with that) */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

/* CONTENT AREA */
.content-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

/* INTRO SECTION */
.intro-section {
    text-align: center;
}

/* next we gotta do the about me section */

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-image {
    width: 250px;
    /* I wanted to experiment with this a bit more, I saw that it was utilized to allow the viewport to decide the height so that the content can be showed correctly. */
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
    text-align: center;
}

/* WORK COMING SECTION */
.work-coming {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-coming h3 {
    text-align: center;
}

.work-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-work-box {
    width: 280px;
    padding: 15px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.individual-work-box img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

/* FOOTER */
.footer-div {
    /* centers the p tag inside the div but doesn't affect that styling */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    color: var(--color-white);

    padding: 20px;

}



