/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* could add some font here */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #222;
}
